<%= form_for(@student) do |f| %>
  <label>Student first name:</label><br>
  <%= f.text_field :title %><br>

  <label>Student last name</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
